In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from sqlalchemy.sql import text

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [6]:
# reflect an existing database into a new model

# reflect the tables
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [7]:
# We can view all of the classes that automap found

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [10]:
first_row_ms = session.query(Measurement).first()
first_row_ms.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2143bcc4e80>,
 'prcp': 0.08,
 'station': 'USC00519397',
 'id': 1,
 'tobs': 65.0,
 'date': '2010-01-01'}

In [11]:
first_row_st = session.query(Station).first()
first_row_st.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2143bcef550>,
 'station': 'USC00519397',
 'latitude': 21.2716,
 'id': 1,
 'elevation': 3.0,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US'}

In [12]:
session.query(Station.station).all()
# print(first_row_ms)

[('USC00519397'),
 ('USC00513117'),
 ('USC00514830'),
 ('USC00517948'),
 ('USC00518838'),
 ('USC00519523'),
 ('USC00519281'),
 ('USC00511918'),
 ('USC00516128')]

# Exploratory Climate Analysis

In [13]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [14]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [15]:
# Design a query to show how many stations are available in this dataset?
st_count = session.query(Station).count()
print(st_count)

9

In [16]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
session.query(func.max(Measurement.station)).all()

[('USC00519523')]

In [17]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

# session.query(Measurement.tobs).order_by(Measurement.tobs).all()

# highest_temp=session.query(func.max(Measurement.tobs)).()
# highest_temp

usa = session.query(Measurement.tobs).group_by('station'=='USC00519523')
usa
usa1=session.query(Measurement.tobs).order_by(Measurement.tobs).all()
usa2=pd.DataFrame(usa)
# usa2.groupby(station='USC00519523').max()
# column = usa2["USC00519523"]
# max_value = column.max()
usa2
usa
# usa2=usa.max()

OperationalError: (sqlite3.OperationalError) 1st GROUP BY term out of range - should be between 1 and 1
[SQL: SELECT measurement.tobs AS measurement_tobs
FROM measurement GROUP BY 0]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [29]:
lowest_temp=session.query(func.min(Measurement.tobs)).all()
lowest_temp

[(53.0)]

In [19]:
highest_temp=session.query(func.max(Measurement.tobs)).all()
highest_temp

[(87.0)]

In [24]:
avg_temp=session.query(func.avg(Measurement.tobs)).all()
avg_temp

[(73.09795396419437)]

In [18]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [26]:
highest_num = session.query(Measurement).filter_by(station='USC00519281').count()
print(highest_num)

2772

In [27]:
session.query(Measurement.date).order_by(Measurement.date).first()

('2010-01-01')

In [30]:
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [48]:
ok=session.query(Measurement.date).filter_by(station='USC00519281').\
    filter(Measurement.date > '2016-08-23').\
    order_by(Measurement.date).all()
ok

[('2016-08-24'),
 ('2016-08-25'),
 ('2016-08-26'),
 ('2016-08-27'),
 ('2016-08-28'),
 ('2016-08-29'),
 ('2016-08-30'),
 ('2016-08-31'),
 ('2016-09-01'),
 ('2016-09-02'),
 ('2016-09-03'),
 ('2016-09-04'),
 ('2016-09-05'),
 ('2016-09-06'),
 ('2016-09-07'),
 ('2016-09-08'),
 ('2016-09-09'),
 ('2016-09-10'),
 ('2016-09-11'),
 ('2016-09-12'),
 ('2016-09-13'),
 ('2016-09-14'),
 ('2016-09-15'),
 ('2016-09-16'),
 ('2016-09-17'),
 ('2016-09-18'),
 ('2016-09-19'),
 ('2016-09-20'),
 ('2016-09-21'),
 ('2016-09-22'),
 ('2016-09-23'),
 ('2016-09-24'),
 ('2016-09-25'),
 ('2016-09-26'),
 ('2016-09-27'),
 ('2016-09-28'),
 ('2016-09-29'),
 ('2016-09-30'),
 ('2016-10-01'),
 ('2016-10-02'),
 ('2016-10-03'),
 ('2016-10-04'),
 ('2016-10-05'),
 ('2016-10-06'),
 ('2016-10-07'),
 ('2016-10-08'),
 ('2016-10-09'),
 ('2016-10-10'),
 ('2016-10-11'),
 ('2016-10-12'),
 ('2016-10-13'),
 ('2016-10-14'),
 ('2016-10-15'),
 ('2016-10-16'),
 ('2016-10-17'),
 ('2016-10-18'),
 ('2016-10-19'),
 ('2016-10-20'),
 ('2016-10-21'),
 ('2016-10-22'),
 ('2016-10-23'),
 ('2016-10-24'),
 ('2016-10-25'),
 ('2016-10-26'),
 ('2016-10-27'),
 ('2016-10-28'),
 ('2016-10-29'),
 ('2016-10-30'),
 ('2016-10-31'),
 ('2016-11-01'),
 ('2016-11-02'),
 ('2016-11-03'),
 ('2016-11-04'),
 ('2016-11-05'),
 ('2016-11-06'),
 ('2016-11-07'),
 ('2016-11-08'),
 ('2016-11-09'),
 ('2016-11-10'),
 ('2016-11-11'),
 ('2016-11-12'),
 ('2016-11-13'),
 ('2016-11-14'),
 ('2016-11-15'),
 ('2016-11-16'),
 ('2016-11-17'),
 ('2016-11-18'),
 ('2016-11-19'),
 ('2016-11-20'),
 ('2016-11-21'),
 ('2016-11-22'),
 ('2016-11-23'),
 ('2016-11-24'),
 ('2016-11-25'),
 ('2016-11-26'),
 ('2016-11-27'),
 ('2016-11-28'),
 ('2016-11-29'),
 ('2016-11-30'),
 ('2016-12-01'),
 ('2016-12-02'),
 ('2016-12-03'),
 ('2016-12-04'),
 ('2016-12-05'),
 ('2016-12-06'),
 ('2016-12-07'),
 ('2016-12-08'),
 ('2016-12-09'),
 ('2016-12-10'),
 ('2016-12-11'),
 ('2016-12-12'),
 ('2016-12-13'),
 ('2016-12-14'),
 ('2016-12-15'),
 ('2016-12-16'),
 ('2016-12-17'),
 ('2016-12-18'),
 ('2016-12-19'),
 ('2016-12-20'),
 ('2016-12-21'),
 ('2016-12-22'),
 ('2016-12-23'),
 ('2016-12-24'),
 ('2016-12-25'),
 ('2016-12-26'),
 ('2016-12-27'),
 ('2016-12-28'),
 ('2016-12-29'),
 ('2016-12-30'),
 ('2016-12-31'),
 ('2017-01-01'),
 ('2017-01-02'),
 ('2017-01-03'),
 ('2017-01-04'),
 ('2017-01-05'),
 ('2017-01-06'),
 ('2017-01-07'),
 ('2017-01-08'),
 ('2017-01-09'),
 ('2017-01-10'),
 ('2017-01-11'),
 ('2017-01-12'),
 ('2017-01-13'),
 ('2017-01-14'),
 ('2017-01-15'),
 ('2017-01-16'),
 ('2017-01-17'),
 ('2017-01-18'),
 ('2017-01-19'),
 ('2017-01-20'),
 ('2017-01-21'),
 ('2017-01-22'),
 ('2017-01-23'),
 ('2017-01-24'),
 ('2017-01-25'),
 ('2017-01-26'),
 ('2017-01-27'),
 ('2017-01-28'),
 ('2017-01-29'),
 ('2017-01-30'),
 ('2017-01-31'),
 ('2017-02-01'),
 ('2017-02-02'),
 ('2017-02-03'),
 ('2017-02-04'),
 ('2017-02-05'),
 ('2017-02-06'),
 ('2017-02-07'),
 ('2017-02-08'),
 ('2017-02-09'),
 ('2017-02-10'),
 ('2017-02-11'),
 ('2017-02-12'),
 ('2017-02-13'),
 ('2017-02-14'),
 ('2017-02-15'),
 ('2017-02-16'),
 ('2017-02-17'),
 ('2017-02-18'),
 ('2017-02-19'),
 ('2017-02-20'),
 ('2017-02-21'),
 ('2017-02-22'),
 ('2017-02-23'),
 ('2017-02-24'),
 ('2017-02-25'),
 ('2017-02-26'),
 ('2017-02-27'),
 ('2017-02-28'),
 ('2017-03-01'),
 ('2017-03-02'),
 ('2017-03-03'),
 ('2017-03-04'),
 ('2017-03-05'),
 ('2017-03-06'),
 ('2017-03-07'),
 ('2017-03-08'),
 ('2017-03-09'),
 ('2017-03-10'),
 ('2017-03-11'),
 ('2017-03-12'),
 ('2017-03-13'),
 ('2017-03-14'),
 ('2017-03-15'),
 ('2017-03-16'),
 ('2017-03-17'),
 ('2017-03-18'),
 ('2017-03-19'),
 ('2017-03-20'),
 ('2017-03-21'),
 ('2017-03-22'),
 ('2017-03-23'),
 ('2017-03-24'),
 ('2017-03-25'),
 ('2017-03-26'),
 ('2017-03-27'),
 ('2017-03-28'),
 ('2017-03-29'),
 ('2017-03-30'),
 ('2017-03-31'),
 ('2017-04-01'),
 ('2017-04-02'),
 ('2017-04-03'),
 ('2017-04-04'),
 ('2017-04-05'),
 ('2017-04-06'),
 ('2017-04-07'),
 ('2017-04-08'),
 ('2017-04-09'),
 ('2017-04-10'),
 ('2017-04-11'),
 ('2017-04-12'),
 ('2017-04-13'),
 ('2017-04-14'),
 ('2017-04-15'),
 ('2017-04-16'),
 ('2017-04-17'),
 ('2017-04-18'),
 ('2017-04-19'),
 ('2017-04-20'),
 ('2017-04-21'),
 ('2017-04-22'),
 ('2017-04-23'),
 ('2017-04-24'),
 ('2017-04-25'),
 ('2017-04-26'),
 ('2017-04-27'),
 ('2017-04-28'),
 ('2017-04-29'),
 ('2017-04-30'),
 ('2017-05-01'),
 ('2017-05-02'),
 ('2017-05-03'),
 ('2017-05-04'),
 ('2017-05-05'),
 ('2017-05-06'),
 ('2017-05-07'),
 ('2017-05-08'),
 ('2017-05-09'),
 ('2017-05-10'),
 ('2017-05-11'),
 ('2017-05-12'),
 ('2017-05-13'),
 ('2017-05-14'),
 ('2017-05-15'),
 ('2017-05-16'),
 ('2017-05-17'),
 ('2017-05-18'),
 ('2017-05-19'),
 ('2017-05-20'),
 ('2017-05-21'),
 ('2017-05-22'),
 ('2017-05-23'),
 ('2017-05-24'),
 ('2017-05-25'),
 ('2017-05-26'),
 ('2017-05-27'),
 ('2017-05-28'),
 ('2017-05-29'),
 ('2017-05-30'),
 ('2017-05-31'),
 ('2017-06-01'),
 ('2017-06-02'),
 ('2017-06-03'),
 ('2017-06-04'),
 ('2017-06-05'),
 ('2017-06-06'),
 ('2017-06-07'),
 ('2017-06-08'),
 ('2017-06-09'),
 ('2017-06-10'),
 ('2017-06-11'),
 ('2017-06-12'),
 ('2017-06-13'),
 ('2017-06-14'),
 ('2017-06-15'),
 ('2017-06-16'),
 ('2017-06-17'),
 ('2017-06-18'),
 ('2017-06-19'),
 ('2017-06-20'),
 ('2017-06-21'),
 ('2017-06-22'),
 ('2017-06-23'),
 ('2017-06-24'),
 ('2017-06-25'),
 ('2017-06-26'),
 ('2017-06-27'),
 ('2017-06-28'),
 ('2017-06-29'),
 ('2017-06-30'),
 ('2017-07-01'),
 ('2017-07-02'),
 ('2017-07-03'),
 ('2017-07-04'),
 ('2017-07-05'),
 ('2017-07-06'),
 ('2017-07-07'),
 ('2017-07-08'),
 ('2017-07-09'),
 ('2017-07-10'),
 ('2017-07-11'),
 ('2017-07-12'),
 ('2017-07-13'),
 ('2017-07-14'),
 ('2017-07-15'),
 ('2017-07-16'),
 ('2017-07-17'),
 ('2017-07-18'),
 ('2017-07-19'),
 ('2017-07-20'),
 ('2017-07-21'),
 ('2017-07-22'),
 ('2017-07-23'),
 ('2017-07-24'),
 ('2017-07-25'),
 ('2017-07-26'),
 ('2017-07-27'),
 ('2017-07-28'),
 ('2017-07-29'),
 ('2017-07-30'),
 ('2017-07-31'),
 ('2017-08-04'),
 ('2017-08-05'),
 ('2017-08-06'),
 ('2017-08-13'),
 ('2017-08-14'),
 ('2017-08-15'),
 ('2017-08-16'),
 ('2017-08-17'),
 ('2017-08-18')]

In [45]:
session.query(Measurement.date).filter_by(station='USC00519281').\
     filter(Measurement.date > '2016-08-23').\
     order_by(Measurement.date).all()

[('2010-01-01',),
 ('2010-01-02',),
 ('2010-01-03',),
 ('2010-01-04',),
 ('2010-01-06',)]

In [59]:
# mammals = session.query(Measurement).filter(Measurement.date > '2016-08-23').all()
# for Measurement in mammals:
#     print(f"Family: {Measurement.date}, Station: {Measurement.station}")

In [67]:
session.query(Measurement).all()

InvalidRequestError: SQL expression, column, or mapped entity expected - got '<sqlalchemy.ext.automap.measurement object at 0x000002143D96A400>'

In [66]:
first_row_m1s = session.query(Measurement).first()
first_row_m1s.__dict__

InvalidRequestError: SQL expression, column, or mapped entity expected - got '<sqlalchemy.ext.automap.measurement object at 0x000002143D96A400>'