In [87]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from sqlalchemy.sql import text

In [88]:
import numpy as np
import pandas as pd

In [89]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [90]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [91]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [92]:
# reflect an existing database into a new model

# reflect the tables
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [93]:
# We can view all of the classes that automap found

In [94]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [95]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [96]:
first_row_ms = session.query(Measurement).first()
first_row_ms.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2630437c520>,
 'tobs': 65.0,
 'date': '2010-01-01',
 'station': 'USC00519397',
 'prcp': 0.08,
 'id': 1}

In [97]:
first_row_st = session.query(Station).first()
first_row_st.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2630437cc40>,
 'elevation': 3.0,
 'station': 'USC00519397',
 'latitude': 21.2716,
 'id': 1,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US'}

In [98]:
session.query(Station.station).all()
# print(first_row_ms)

[('USC00519397'),
 ('USC00513117'),
 ('USC00514830'),
 ('USC00517948'),
 ('USC00518838'),
 ('USC00519523'),
 ('USC00519281'),
 ('USC00511918'),
 ('USC00516128')]

# Exploratory Climate Analysis

In [99]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [100]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [101]:
# Design a query to show how many stations are available in this dataset?
st_count = session.query(Station).count()
print(st_count)

9

In [112]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
session.query(func.max(Measurement.station)).all()

[('USC00519523')]

In [17]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [18]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram